@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('http://unsplash.it/1980/1020?random');
    backdrop-filter: blur(20px);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.form-container {
    color: rgb(20,10,40);
    width: fit-content;
    padding: 5rem;
    border-radius: 1rem;
    background-color: rgba(250, 250, 250, .8);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 8px rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.text {
    font-size: 1.4rem;
    margin-bottom: 5rem;
}

label {
    font-size: 1.7rem;
    font-weight: 700;
}

input {
    all: initial;
    /* width: 100%; */
    height: 3rem;
    background-color: rgba(250, 250, 250, .8);
    /* border: 1px solid rgba(20,10,40, .4); */
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem 0 2rem 0;
}

.btn {
    margin-top: 2rem;
    background-color: rgb(20,10,40);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    padding: 2rem;
}

.btn:hover {
    transform: scale(1.02);
    background-color: white;
    color: rgb(20,10,40);
    box-shadow: 2px 4px 8px rgba(0,0,0,.1);
}

.btn:active {
    transform: scale(1);
    box-shadow: none;
}